h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    color: red; 
    text-decoration: overline;
    font-size: 56px;
}

span {
    background-color: yellow
}

body {
    background:url("http://openclipart.org/people/StudioFibonacci/StudioFibonacci_Cartoon_llama.svg");
}

