h1 {
    text-align: center;
    color: orange;
}

h2 {
    color: orange;
}

h3 {
    text-align: center;
    color: orange;
}

p {
    color: red; 
    text-decoration: overline;
    font-size: 56px;
}

span {
    background-color: yellow
}

body {
    background:url("http://openclipart.org/people/StudioFibonacci/StudioFibonacci_Cartoon_llama.svg");
    background-position: center center
    background-repeat: no-repeat;

}

