h1 {
    text-align: center;
    color: orange;
}

h2 {
    color: orange;
}

h3 {
    text-align: center;
    color: orange;
}

p {
    color: red; 
    text-decoration: overline;
    font-size: 56px;
}

span {
    background-color: yellow
}

body {
    background: blue;
}

